/* Web Developer Second Assignment */
/* Below code is used to reset the css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Below code is used to format the body page */
body {
    margin: 0;
    padding: 0;
}

/* Below code is used to format the Photogrid div element */
.photogrid {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    grid-gap: 20px;
}

/* Below code is used to format the grid-box div element inside the
photogrid div element */
.photogrid .grid-box {
    position: relative;
    background-color: #efefef;
    overflow: hidden;
}

/* Below code is used to format the img element inside the grid-box div element */
.photogrid .grid-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Below code is used to set the hover psuedo code to the grid-box div element */
.photogrid .grid-box:hover img {
    transform: scale(1.1);
}

/* Below code is used to format the a element inside the grid-box div element */
.photogrid .grid-box a {
    cursor: zoom-in;
}


/* Below code is used to format the nth-child pseudo element on the grid-box div element */
.photogrid .grid-box:nth-child(3n - 2) {
    grid-column: span 2;
    grid-row: span 2;
} 


/* NOTE:- LET US MAKE IT RESPONSIVE TO ANY DEVICES */

@media (max-width: 768px) {
    /* SETTING MEDIA QUERY TO THE PHOTOGRID DIV ELEMENT */
    .photogrid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: 250px;
    }

    /* SETTING MEDIA QUERY TO THE GRID-BOX DIV ELEMENT */
    .photogrid .grid-box:nth-child(3n - 2) {
        grid-column: unset;
        grid-row: unset;
    }
    
}